.footer {
	padding: 6rem 0 10rem
	
	.wrapper {
		max-width: rem(797)
	}
}

.footer-txt {
	text-align: center
	
	p {
		color: #000;
		font-weight: 400;
		line-height: 1.4;
		font-size: rem(18)
		margin: 2rem 0
	}
}

.sale-products {
	width: 20.43rem
	height: rem(90)
	border-radius: rem(100)
	background: #fff url("../images/bg-border.png") no-repeat
	background-size: contain
	position: fixed
	right: 2rem
	z-index: 999
}

.sale-products__wrap {
	display: flex
	padding: rem(5)
}

.sale-products-img {
	padding: rem(5)
	width: 3.5rem
	height: 3.5rem
	
	p {
		font-size: rem(12)
		color: #000000
		text-align: center
		
	}
}

.sale-products-txt {
	width: rem(250)
	margin-top: rem(5)
	line-height: 1
	font-family: 'Verdana', sans-serif;
}

.sale-products-title {
	h6 {
		font-weight: bold
		font-size: rem(12)
	}
}

.sale-products-text-1 {
	font-size: rem(11)
	margin-top: 0.3rem
	span{
		font-weight: bold
		color: #ff0000
	}
}
	.sale-products-text-2{
		margin-top: 0.5rem
		p{
			font-size: rem(12)
		}
	}
		.outputs{
			color: #ff0000
			font-weight: bold
			font-size: rem(16)
		}