.reviews {
	padding: 1rem 0
}

.reviews__title {
	border-bottom: 1px solid #000
	background-color: #D8DEE0;
	h3 {
		color: rgb(33, 150, 243);
		font-weight: bold;
		font-size: rem(13)
		line-height: rem(19);
		margin-left: 0.5rem
	}
}

.review__item {
	display: flex
	margin-top: 1rem
}

.user-photo {
	margin-right: 1.3rem
	width: rem(67)
	height: rem(67)
}
.user-info{
	width: 75%
}
.user-name {
	p {
		color: rgba(0, 145, 234, 1);
		font-weight: 700;
		line-height: rem(19);
		font-size: rem(13)
	}
}
.user-txt {
	p {
		color: rgba(0,0,0,1);
		font-weight: 400;
		line-height: rem(22);
		font-size: rem(16)
	}
}
.user-time {
	p {
		color: rgba(186,176,176,1);
		font-weight: 400;
		line-height: rem(18);
		font-size: rem(12)
	}
}