.fixed-btn {
	background: url("../images/muapc.png") no-repeat
	-webkit-background-size: cover
	background-size: cover
	width: rem(260);
	height: rem(60);
	position: fixed
	left: 50%
	transform translate(-50%, 0)
	bottom: 0
	display: block;
	text-decoration: none;
	z-index: 15786;
}

.info__top-subtitle {
	background-color: rgba(224, 224, 224, 1);
	text-align: center
	display: inline-block
	padding: 0.4rem 0.55rem;
	margin-top rem(15)
	cursor: pointer
	h3 {
		color: rgba(0, 0, 0, 1);
		font-weight: 400;
		line-height: rem(24);
		font-size: rem(18)
	}
}

.info__subtitle {
	h4 {
		color: rgba(0, 0, 0, 1);
		font-weight: 400;
		font-style: italic;
		line-height: rem(34);
		font-size: rem(18)
		text-align: justify
		margin-top: 0.8rem
	}
}

.info__title {
	h1 {
		color: rgba(213, 0, 0, 1);
		font-weight: 400;
		line-height: rem(54);
		font-size: rem(35)
	}
}

.info__date-time {
	margin-left: 0.5rem
	p {
		color: rgba(0, 0, 0, 1);
		font-weight: 400;
		line-height: rem(24);
		font-size: rem(18)
		display: inline-block
		margin-right: rem(24)
	}
}


.info__img {
	margin: 1.07rem auto 3.25rem
	text-align: center
	p {
		margin: 0.7rem auto 0
		width: 100%
		color: rgba(0, 0, 0, 1);
		font-weight: 400;
		line-height: 1.6;
		font-size: rem(18)
		padding: 0 0.7rem
	}
}
.info__img_double{
	display: flex
	flex-wrap: wrap
	justify-content: center
	.w_360{
		margin: 0 rem(23)
	}
}
.interview-line {
	display: flex
	margin-bottom: 0.6rem
	align-items: flex-start
}

.interview-line_left {
	margin-right: rem(15)
	width: rem(72);
	height: rem(77);
}

.interview-line_right {
	width: 88.5%
	color: rgba(0, 0, 0, 1);
	font-weight: 400;
	line-height: 1.6;
	font-size rem(18)
	span {
		font-weight: bold
		//font-style: normal
	}
	p {
		display: inline-block
		margin-bottom: 1.1rem
	}
	.txt_red, .txt_dark-red {
		font-weight: normal
	}
}

.font-italic {
	font-style: italic;
}

.txt_red {
	color: rgb(244, 67, 54);
	font-weight: normal
}

.txt_dark-red {
	color: rgb(213, 0, 0);
}

.info__txt {
	p {
		font-weight: bold
		color: rgba(0, 0, 0, 1);
		line-height: rem(26);
		font-size: rem(20)
		margin-bottom: 1.6rem
	}
	span {
		font-weight: bold
	}
}

.info__img__wrap {
	display: flex
	justify-content: space-around
}

.info__txt_discription {
	p {
		color: rgba(0, 0, 0, 1);
		font-weight: 400;
		line-height: rem(26);
		font-size: rem(20)
		margin: rem(20) 0
	}
}

.info__video {
	width: rem(605)
	height: rem(340)
	margin: 0 auto rem(40)
	iframe{
		width: 100%
		height: 100%
		border: 0
	}
}