main {
  overflow: hidden
}

.wrapper {
  width: 100%
  max-width: rem(960)
  margin: auto
  height: 100%
  position: relative
  z-index: 5
}

.wrapper-padding {
  width: 100%
  max-width: rem(960)
  padding: 0 rem(27)
  margin: auto
  height: 100%
  position: relative
  z-index: 5
}

.desktop-none {
  display: none
}
input:invalid {
  outline: none !important;
}
.sale-products{
  position: fixed
}