@import "_sprite"
@import "_functions"
@import "userInterface"

//@import "/base/flexboxgrid.styl"


//@import "swiper"
@import "helpers"
@import "/layout/popup"
@import "/layout/header"
@import "layout/footer.styl"
//@import "_breadcrumbs"
//@import "fancybox.styl"
@import "/base/base.styl"

@import "/sections/advantages"
@import "/sections/processor.styl"
@import "/sections/about-product.styl"
@import "/sections/video"
@import "/sections/product"
@import "/sections/reviews.styl"
@import "/sections/gallery.styl"
@import "/sections/history.styl"
@import "/sections/guarantees.styl"
@import "/sections/our-work.styl"
@import "/sections/our-pluses.styl"
@import "/sections/offer.styl"
@import "/sections/bottom-info"
@import "/sections/top-info"
@import "/sections/animation-keyframes.styl"
@import "helpers"


@import "btn"
@import "content"

//@import "/components/select.styl"

//@import "timer"



@import "fonts"

@import "/mediaquery/980-1200.styl"
@import "/mediaquery/768-979.styl"
@import "/mediaquery/481-767.styl"
@import "/mediaquery/320-480.styl"


