@media (min-width: 320px) and (max-width: 767px) {
	main {
		overflow: hidden
	}
	
	.wrapper {
		max-width: 97%
		padding: 0
	}
	
	.fixed-btn {
		background: url("../images/mua.png") no-repeat
		background-size: cover
		width: rem(120);
		height: rem(40);
		left: 0
		transform translate(0, 0)
		bottom: 0
	}
	
	.header-top {
		height: auto
		padding: 0.5rem 0
	}
	.header__logo {
		width: 4.38rem;
		height: 4.38rem;
		margin-left: 0.13rem;
		margin-right: 0.63rem;
	}
	.header__title {
		width: 75%
		h2 {
			line-height: 1.2;
			font-size: 1.55rem;
		}
	}
	.header_left{
		width: 70%
		align-items: flex-start
	}
	.icon-svg {
		margin: 0
	}
	
	.header__list {
		height: auto;
		ul {
			flex-wrap: wrap
			position: relative
			padding: rem(32) 0 rem(15)
		}
		li {
			&:first-child {
				position: absolute
				top: 0
				left: 0
			}
		}
	}
	
	.info__top-subtitle {
		padding: 0.15rem 1.08rem;
		margin-top: 0.34rem;
		h3 {
			font-size: rem(14);
		}
	}
	
	.info__title {
		h1 {
			font-size: rem(24);
			text-align: left;
			line-height: rem(36);
		}
	}
	
	.info__subtitle {
		h4 {
			line-height: rem(28);
			margin-top: 1.2rem
		}
	}
	
	.interview-line_left {
		margin-right: 0.5rem;
		width: rem(38);
		height: rem(41);
	}
	
	.interview-line_right {
		line-height: rem(30);
	}
	
	.top-info {
		.wrapper-padding {
			padding: 0
		}
	}
	.info__txt{
		padding: 0 1rem
	}
	.info__img {
		margin: 0.07rem auto 2rem;
		p{
			line-height: rem(20)
		}
	}
	.info__img__wrap{
		flex-direction: column
		justify-content: center
		align-items: center
		img{
			margin-bottom: 1.5rem
			display: block
		}
	}
	.wheel {
		width: rem(340);
	}
	.cursor-text {
		line-height: rem(48);
		font-size: rem(14);
	}
	.reviews{
		.wrapper-padding{
			padding: 0
		}
	}
	.user-photo {
		margin-right: 0.5rem;
	}
	.info__video {
		width: 100%;
		height: rem(230);
		margin: 0 auto 2.5rem;
	}
	.wheel:before {
		bottom: -5rem;
		width: rem(260);
		height: rem(170);
		z-index: 999;
	}
	.info__img_double .w_360 {
		margin: 1rem;
	}
.pop-up-button{
	margin: -2.2rem auto 0
}
.footer-txt p{
	font-size: rem(13)
}
	.footer {
		padding: 4rem 0 0rem;
	}
	.sale-products {
		right: 1rem
	}
.form-block-img{
	display: none
}
.form-info{
	position: relative
	margin-top: 1rem
}
	.form-block-title {
		width: 100%;
		max-width: 100%;
		margin: 0 auto
	}
	.form-block-text {
		padding: 0 1rem;
	}
}
